@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

@font-face {
	font-family: 'aileron-heavy';
	src: url('/assets/aileron-heavy.otf') format('opentype');
}

:root {
	font-family: sans-serif;
	font-optical-sizing: auto;
}

:root {
	--border-radius: 2px;
	--border-width: 1px;
	--border: #ccc;

	--body: #333;
	--body-bg: #f9f7ee;

	--muted: #6c757d;
	--muted-bg: #f8f9fa;

	--primary: #007bff;

	--success: #28a745;
	--danger: #dc3545;

	--light: #f8f9fa;
	--dark: #343a40;
}

table {
	width: 100%;
}

body {
	color: var(--body);
	background-color: var(--body-bg);
}

a {
	color: var(--body);
	text-decoration: none;
}

a:hover {
	color: var(--body);
	text-decoration: underline;
}

a:active {
	color: var(--primary);
	text-decoration: none;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid var(--border);
	padding: 0.375rem 0.75rem;
}

.btn-primary {
	color: #fff;
	background-color: var(--primary);
	border-color: var(--primary);
}

@custom-media --small-screen (min-width: 600px);
/*
@media (--small-screen) {
	body {
		background-color: aquamarine;
	}
}

@media (width > 1080px) {
	body {
		background-color: red;
	}
}
/* debug drawing */

div {
	background-color: rgba(0, 0, 0, 0.05);
}

/* max width should be 1080 */

.page-layout {
	max-width: 1080px;
	margin: 0 auto;
	padding: 16px 16px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

small {
	font-size: 12px;
}

.limit-to-mobile {
	max-width: 360px;
	margin: 0 auto;
}
