@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

@font-face {
	font-family: 'aileron-heavy';
	src: url('/assets/aileron-heavy.otf') format('opentype');
}

:root {
	font-family: sans-serif;
	font-optical-sizing: auto;
}

:root {
	--border-radius: 2px;
	--border-width: 1px;
	--border: #ccc;

	--body: #333;
	--body-bg: #fff;

	--muted: #6c757d;
	--muted-bg: #f8f9fa;

	--primary: #007bff;

	--success: #28a745;
	--danger: #dc3545;

	--light: #f8f9fa;
	--dark: #343a40;
}

/* debug drawing */
div {
	background-color: rgba(0, 0, 0, 0.05);
}

table {
	width: 100%;
}

body {
	color: var(--body);
	background-color: var(--body-bg);
}

a {
	color: var(--body);
	text-decoration: none;
}

a:hover {
	color: var(--body);
	text-decoration: underline;
}

a:active {
	color: var(--primary);
	text-decoration: none;
}
