:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-humanist);
	color: var(--gray-9);
	background-color: var(--sand-0);
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

button {
	border: none;
	background-color: transparent;
}
