@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: sourceSansPro;
	src: url('/source-sans-pro/SourceSansPro-Light.otf');
}

html,
body {
	font-family: sourceSansPro, sans-serif;

	background-color: #f9f7ee;
	color: #141414;
	@apply text-[14px];
}

div {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 12px;
}

a {
	@apply text-blue-600 dark:text-blue-400;
}

a:hover {
	@apply text-blue-700 dark:text-blue-300 underline;
}

button {
	@apply border p-2 border-neutral-500;
}

input[type='text'],
textarea {
	@apply border p-2 border-neutral-500;
}

input[type='text']:focus,
textarea:focus {
	@apply border-blue-500;
}

input[type='submit'] {
	@apply bg-transparent text-blue-400 p-2;
}
