@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'IBM Plex Serif', serif;
	font-weight: 400;
	background-color: antiquewhite;
}

h1 {
	font-weight: 400;
	font-size: 21px;
}

.home-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}
