.popover {
	background-color: red;
}

.greetings {
	background-color: red;
}

.dialog {
	background-color: var(--sand-5);
}

@custom-media --narrow (max-width: 500px);

@media (--narrow) {
	.greetings {
		background-color: blue;
	}
}
